<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <!--subscribe-->
    <div class="modal" tabindex="-1">
        <div class="modal-row">
            <div class="modal-cell">
                <div class="modal-close-wide"></div>
                <div class="info-modal-frame">
                    <div class="modal-close-small"></div>
                    <p>Важные ограничения:</p>
                    <p>Информация для лиц старше 18 лет.</p>
                    <p>Никакая часть материалов данного сайта и/или его субдоменов не является офертой.</p>
                    <p>Результаты деятельности в прошлом не определяют результаты в будущем. Доходность в прошлом не гарантирует доходности в будущем.</p>
                    <p>Результаты могут быть как положительными, так и отрицательными, мы не гарантируем доходность.</p>
                    <p>Указание ориентира по доходности является предположительным и не является обещанием или гарантией доходности.</p>
                    <p>Внимательно ознакомьтесь с соглашением о сотрудничестве перед его подписанием!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of subscribe-->
</body>
</html>