<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <!--subscribe-->
    <div class="modal" tabindex="-1">
        <div class="modal-row">
            <div class="modal-cell">
                <div class="modal-close-wide"></div>
                <div class="text-modal-frame">
                    <div class="modal-close-small"></div>
                    <p>Спасибо!</p>
                    <p>Ваш E-MAIL добавлен в базу.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of subscribe-->
</body>
</html>