<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <!--browser warning-->
    <div class="modal" tabindex="-1">
        <div class="modal-row">
            <div class="modal-cell">
                <div class="modal-close-wide"></div>
                <div class="text-modal-frame">
                    <div class="modal-close-small"></div>
                    <p>К сожалению, версия вашего браузера устарела.</p>
                    <p>Некоторые элементы могут отображаться некоректно.</p>
                    <p>Пожалуйста обновитесь до более актуальной версии.</p>
                    <p>Вы можете это сделать перейдя по ссылке</p>
                    <p>
                        <a href="http://browsehappy.com/" target="_blank" rel="nofollow">http://browsehappy.com/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of browser warning-->
</body>
</html>